<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="img" src="../../assets/images/login.png" alt="Login">
        <h1>Recuperar Contraseña</h1>
        <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
            <div class="form-floating mb-3">
                <input type="email" class="form-control"  formControlName="email" placeholder="name@example.com">
                <label >Email</label>
                <span *ngIf="recuperarUsuario.get('email')?.hasError('required') && recuperarUsuario.get('email')?.touched" class="text-danger errorLabel">
                    El <strong>email</strong> es requerido
                </span>
                <span *ngIf="recuperarUsuario.get('email')?.hasError('email') && recuperarUsuario.get('email')?.touched" class="text-danger errorLabel">
                    El <strong>email</strong> es inválido
                </span>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button type="submit" class="btn btn-primary btn-lg" [disabled]="recuperarUsuario.invalid">Recuperar</button>
            </div>
            <p class="mt-3">No tienes cuenta ? <a routerLink="/register">Registrar</a></p>
            <a routerLink="/login">Volver</a>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>
